<footer class="footer">
<a href="https://www.instagram.com/merkulovaisabel/" target="_blank" class="oRtuWN"><img alt="Instagram" style="width: 20px; height: 20px; object-fit: cover;" fetchpriority="high" src="https://static.wixstatic.com/media/01c3aff52f2a4dffa526d7a9843d46ea.png/v1/fill/w_20,h_20,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Instagram.png"></a>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/109/three.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>

<script src="{{ '/assets/js/hover-effect.umd.js' | prepend: site.baseurl }}"></script>

<script>
      var hoverDistort = new hoverEffect({
            parent: document.querySelector('.photo'),
            intensity: 0.5,
            image1: '/assets/images/img_one.jpg',
            image2: '/assets/images/img_two.jpg',
            displacementImage: '/assets/images/14.jpg'
      });
</script>

<script>
    // init Masonry
    var $grid = $('.post').masonry({
      itemSelector: '.post-item',
      percentPosition: true,
      columnWidth: '.post-sizer'
    });
    // layout Masonry after each image loads
    $grid.imagesLoaded().progress( function() {
      $grid.masonry();
});  
</script>