<div id="header_wrap">
  <div class="photo"></div>
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <h2 class="tile__title">

  <div class="line-ctn">
    <div class="line" style="display: block; text-align: left; position: relative;">Woods &amp; </div>
  </div>

  <div class="line-ctn">
    <div class="line" style="display: block; text-align: left; position: relative;">
      <span class="title__offset title__offset--medium">Forests</span>
    </div>
  </div>
</h2>
  </div>
</div>


