<div id="header_wrap">

  <img class="bg" src="assets/images/DSC_8260-min.jpg" alt="">

  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-sort-down" aria-hidden="true"></i></a>
</div>
