<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}

    <section class="content">
      <section class="post">
        <div class="post-sizer"></div>
          {% for post in site.categories.blog %}
            <div class='post-item'>
              <div class="post-item-padding">
                <a class='post-image' href="{{post.image}}"><img src="{{post.image}}"/></a>
              </div>
            </div>
          {% endfor %}
      </section>
    </section>
    {% include footer.html %}
  </body>
</html>